@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    font-size: 62.5%;
}

$primary-color: hsl(170, 100%, 26%);
$headline: hsl(210, 11%, 15%);
$paragraph: hsl(210, 9%, 31%);
$brand-beige: hsl(39, 100%, 97%);
$brand-light: hsl(148, 23%, 89%);
$nav-height: 7.2rem;

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

/* NAVIGATION */
nav{
    height: $nav-height;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.scroll{
        background: $primary-color;
        width: 100vw;
    }
}

/* HEADER */

header{
    margin-top: calc(4.1rem + 7.2rem);

    h4{
        font-size: 1.4rem;
        color: $primary-color;
        margin-bottom: 1.6rem;
    }
    
    h1{
        font-size: 3.4rem;
        color: $headline;
        line-height: 130%;
        margin-bottom: 2.4rem;
    }
    
    p{
        font-size: 1.8rem;
        line-height: 150%;
        font-weight: 400;
        color: $paragraph;
        margin-bottom: 3.2rem;
    }
    
    button{
        width: 26.3rem;
        height: 6.2rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        color: white;
        background: $primary-color;
        border-radius: 4rem;
        margin-bottom: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        margin: 0 auto;
    }

    .mulher{
        width: 26.4rem;
        display: block;
        margin-inline: auto;
        object-position: 0 2rem;
    }

    &::before{
        content: "";
        width: 100vw;
        height: calc(108rem + 7.2rem);
        background: $brand-light;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .stats{
        width: 32.7rem;
        padding-block: 4rem;
        margin-inline: auto;
        border: 0.1rem solid #DCE9E2;
        border-radius: 0.6rem;
        background: $brand-beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6rem;

        .stat{

            h3{
                font-size: 4.8rem;
                color: $headline;
                line-height: 130%;
                margin-bottom: 0.4rem;
            }

            p{
                margin: 0;
                color: $primary-color;
                line-height: 150%;
            }
        }
    }
}