@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: #f6f8f8;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

#logo2 {
  display: none;
}

/* NAVIGATION */
nav {
  height: 7.2rem;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-block: 1.6rem;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.scroll {
  background: #00856f;
  width: 100vw;
}

/* ==== MENU-EXPANDED ==============*/
.menu, .close-menu {
  display: none;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded #logo {
  display: none;
}

body.menu-expanded #logo2, body.menu-expanded .close-menu {
  display: inline;
  position: relative;
  z-index: 1;
}

body.menu-expanded .menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #00856f;
  width: 100vw;
  height: 100vh;
  padding-top: 7.2rem;
}

body.menu-expanded .menu ul:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

body.menu-expanded .menu ul:nth-child(1) li a {
  color: white;
}

body.menu-expanded .menu .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: #00856f;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

body.menu-expanded .menu, body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded nav {
  position: relative;
}

/* HEADER */
header {
  padding-top: calc(4.1rem + 7.2rem);
}

header h4 {
  font-size: 1.4rem;
  color: #00856f;
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: #22262a;
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: #484f56;
  margin-bottom: 3.2rem;
}

header button {
  width: 26.3rem;
  height: 6.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  background: #00856f;
  border-radius: 4rem;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  margin: 0 auto;
}

header .mulher {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  -o-object-position: 0 2rem;
     object-position: 0 2rem;
}

header::before {
  content: "";
  width: 100%;
  height: calc(108rem + 7.2rem);
  background: #dce9e3;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  border: 0.1rem solid #DCE9E2;
  border-radius: 0.6rem;
  background: floralwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
}

header .stats .stat h3 {
  font-size: 4.8rem;
  color: #22262a;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

header .stats .stat p {
  margin: 0;
  color: #00856f;
  line-height: 150%;
}

/* ==== SERVICES ==============*/
#services .header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  color: #00856f;
  margin-bottom: 1.6rem;
}

#services .header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: #22262a;
  margin-bottom: 6rem;
}

#services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}

#services .cards .card {
  padding: 2.4rem;
  text-align: left;
  background: white;
  border: 0.1rem solid #dce9e3;
  border-radius: 0.6rem;
}

#services .cards .card h3 {
  margin-block: 1.6rem;
}
/*# sourceMappingURL=estilo.css.map */