@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    font-size: 62.5%;
}

$primary-color: hsl(170, 100%, 26%);
$headline: hsl(210, 11%, 15%);
$paragraph: hsl(210, 9%, 31%);
$brand-beige: hsl(39, 100%, 97%);
$brand-button-hover: hsl(170,100%,14%);
$brand-light: hsl(148, 23%, 89%);
$bg-light: hsl(180, 14%, 97%);
$nav-height: 7.2rem;

html{
    scroll-behavior: smooth;
}

body,html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay;
    background-color: $bg-light;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

.button{
    width: 26.3rem;
    height: 6.2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    background: $primary-color;
    border-radius: 4rem;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-inline: auto;

    &:hover{
        background: $brand-button-hover;
        transition: background 0.2s;
    }
}

section{
    padding-block: 10rem;

    .header{
        h4{
            font-size: 1.4rem;
            line-height: 150%;
            letter-spacing: 0.8rem;
            text-transform: uppercase;
            color: $primary-color;
            margin-bottom: 1.6rem;
        }

        h2{
            font-size: 3rem;
            line-height: 3.9rem;
            color: $headline;
            font-weight: 700;
            margin-bottom: 6rem;
        }

    }
}

#logo2{
    display: none;
}

/* NAVIGATION */
nav{
    height: $nav-height;
    position: fixed;
    top: 0;
    padding-block: 1.6rem;
    width: 100vw;
    z-index: 10;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.scroll{
        background: $primary-color;
    }
}

/* ==== MENU-EXPANDED ==============*/
.close-menu{
    display: none;
}

.menu{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
}

body.menu-expanded{
    overflow: hidden;

    & > :not(nav){
        visibility: hidden;
    }

    #logo{
        display: none;
    }

    .open-menu{
        display: none;
    }

    #logo2,.close-menu{
        display:inline;
        position: relative;
        z-index: 1;
    }

    .menu,.close-menu{
        opacity: 1;
        visibility: visible;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        background: $primary-color;
        width: 100vw;
        height: 100vh;
        padding-top: 7.2rem;
        transition: transform 400ms;
        transform: translateY(0);

        ul:nth-child(1){
            display: flex;
            flex-direction: column;
            gap: 4.8rem;
            margin-top: 6rem;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3.1rem;

            li{
                a{
                    color: white;
                }
            }
        }

        .social-links{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3.2rem;
        }

        .nav-bottom{
            background: white;
            border-radius: 4rem;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.3rem;
            text-transform: uppercase;
            color: #00856f;
            display: inline-block;
            padding: 1.6rem 3.2rem;
            margin-top: 4.8rem;
            margin-bottom: 8rem;

            &:hover{
                background: $primary-color;
                color: white;
            }
        }
    }
}

/* HEADER */

header{
    padding-top: calc(4.1rem + 7.2rem);

    h4{
        font-size: 1.4rem;
        color: $primary-color;
        margin-bottom: 1.6rem;
    }
    
    h1{
        font-size: 3.4rem;
        color: $headline;
        line-height: 130%;
        margin-bottom: 2.4rem;
    }
    
    p{
        font-size: 1.8rem;
        line-height: 150%;
        font-weight: 400;
        color: $paragraph;
        margin-bottom: 3.2rem;
    }

    .mulher{
        width: 26.4rem;
        display: block;
        margin-inline: auto;
        object-position: 0 2rem;
    }

    &::before{
        content: "";
        width: 100%;
        height: calc(108rem + 7.2rem);
        background: $brand-light;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .stats{
        width: 32.7rem;
        padding-block: 4rem;
        margin-inline: auto;
        border: 0.1rem solid #DCE9E2;
        border-radius: 0.6rem;
        background: $brand-beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6rem;

        .stat{

            h3{
                font-size: 4.8rem;
                color: $headline;
                line-height: 130%;
                margin-bottom: 0.4rem;
            }

            p{
                margin: 0;
                color: $primary-color;
                line-height: 150%;
            }
        }
    }
}

/* ==== SERVICES ==============*/
#services{

    .cards{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        .card{
            padding: 2.4rem;
            text-align: left;
            background: white;
            border: 0.1rem solid $brand-light;
            border-radius: 0.6rem;

            h3{
                margin-block: 1.6rem;
            }

            p{
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 150%;
                color: $paragraph;
            }
        }
    }
}

/* ==== ABOUT ==============*/

#about{
    background-color: $brand-beige;
    .header{
        h2{
            margin-bottom: 2.4rem;
            text-align: left;
        }

        h4{
            text-align: left;
        }
    }

    p{
        text-align: left;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
        color: $paragraph;
        margin-top: 2.4rem;
        margin-bottom: 6rem;
    }
}

/* ==== CONTACT ==============*/

#contact{
    text-align: left;

    .header{
        margin-bottom: 3.2rem;
    }

    .content {
        ul{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
    
            li{
                display: flex;
                align-items: center;
                gap: 0.8rem;
            }
        }
    
        .button{
            margin-top: 3.2rem;
            margin-inline: 0;
        }

        .imagem{
            width: 100%;
        }
    }
}

/* ==== FOOTER ==============*/
footer{
    background: $primary-color;
    padding-block: 6rem;
    text-align: left;
    color: white;

    p{
        line-height: 2;
        margin-bottom: 3.2rem;
    }

    #logo {
        display: inline-block;
        margin-bottom: 2.4rem;
        width: 23.6rem;
        height: 3.1rem;
    }

    .social-links{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3.2rem;
    }
}

/* BACK TO TOP */
#backto{
    position: fixed;
}